Library.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="BlackJack" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">


    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="game">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="status" type="tns:integer"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="gameStatusRequest">
        <wsdl:part name="game" type="xsd:game"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="gameStatusResponse">
        <wsdl:part name="status" type="tns:integer"></wsdl:part>
        <wsdl:part name="test" type="xsd:string"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="conectarJugadorRequest">
        <wsdl:part name="apuesta" type="tns:integer"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="conectarJugadorResponse">
        <wsdl:part name="token" type="xsd:string"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="BlackJackPort">
        <wsdl:operation name="gameStatus">
            <wsdl:input message="tns:gameStatusRequest"/>
            <wsdl:output message="tns:gameStatusResponse"/>
        </wsdl:operation>

        <wsdl:operation name="conectarJugador">
            <wsdl:input message="tns:conectarJugadorRequest"/>
            <wsdl:output message="tns:conectarJugadorResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BlackJackB" type="BlackJackPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="gameStatus">
            <soap:operation soapAction="gameStatus"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="conectarJugador">
            <soap:operation soapAction="conectarJugador"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BlackJack">
        <wsdl:port binding="BlackJackB" name="GameBlackJack">
            <soap:address location="http://localhost:3000/Library"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>